//.layout-4-column{
//    // width - ширина между колонками
//    @include colums ($width: 21%);
//}
//.layout-3-column {
//    // width - ширина между колонками
//    @include colums ($width: 30%);
//    &:after {
//        content: '';
//        width: 30%;
//        display: block;
//    }
//}
//
//.layout-2-column {
//    // width - ширина между колонками
//    @include colums ($width: 48%);
//}

.layout-4-column {
    @include columns($width: 21%);
}

.layout-3-column {
    @include columns($width: 30%);
    &:after {
        content: '';
        width: 30%;
        display: block;
    }
}

.layout-2-column {
    @include columns($width: 48%);
}
