.wrapper {
    max-width: $content-width;
    // Обязаткльно  margin:auto; тогда правильные отступы!
    margin:auto;
    @include media-laptop{
        padding: 0 46px;
    }

    @include media-mobile{
        padding:0 21px;
    }

}


.wrapper {
    max-width: $content-width;
    margin: auto;
    @include media-laptop {
        padding: 0 46px;
    }
    @include media-mobile {
        padding: 0 21px;
    }
}

